.section-container {
  display: flex;
  justify-content: center;
  padding: 3rem 5%;
}

.section-inner {
  display: flex;
  align-items: center;
  gap: 3rem;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
}

.section-text {
  flex: 1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section-text h2 {
  color: #5d2a8a;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  text-align: center; /* 👈 CENTRA EL TÍTULO */
  width: 100%;  
}

.section-text p {
  color: #333;
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.section-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.section-image img {
  max-width: 450px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.news-button {
  display: inline-block;
  margin-top: 12px;
  padding: 10px 20px;
  background-color: #704688;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 4px;
  transition: background-color .3s ease;

  /* CENTRADO */
  align-self: center;     /* 👈 si está dentro de flex */
  text-align: center;
}


.news-button:hover {
    background-color: #a679c0
}


/* Responsive */
@media (max-width: 768px) {
  .section-inner {
    flex-direction: column;
    text-align: center;
  }

  .section-text {
    align-items: center;
  }

  .section-image img {
    max-width: 90%;
  }
}
