.navbar {
  width: 100%;
  background-color: #ffffff;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo img {
  height: 70px;
  width: auto;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  position: relative;
}

.navbar-links li a,
.navbar-link-with-caret {
  color: rgb(15, 14, 14);
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

.navbar-links li a:hover,
.navbar-link-with-caret:hover {
  color: #ab2b7a;
}

.caret {
  font-size: 0.6rem;
  margin-left: 4px;
}
.dropdown-menu {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 6px;
  position: absolute;
  top: 100%;
  z-index: 1000;
  min-width: 160px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.dropdown-menu li {
  list-style: none;
  margin: 4px 0;
}

.dropdown-menu li a {
  display: block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 0.85rem; /* Más pequeño */
  line-height: 1.2;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-menu li a:hover {
  background-color: #d356b277;
  color: #32113c;
  font-weight: 600;
}
