/* src/components/Blog/BlogEntryLayout.css */
.blog-entry-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
}

.blog-entry-title {
  font-size: 2rem;
  margin-bottom: 16px;
  text-align: center;
}

.blog-entry-image {
  max-width: 250px;
  width: 100%;
  margin: 0 auto 2rem auto;
  display: block;
}

.inline-blog-image {
  display: block;
  margin: 24px auto;
  max-width: 100%;
  max-height: 60%;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.blog-entry-content {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.blog-entry-content h2 {
  margin-top: 24px;
  font-size: 1.5rem;
}

.blog-entry-content p {
  margin-bottom: 16px;
}

.blog-entry-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.nav-button {
  padding: 8px 16px;
  background-color: #4a1146;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 4px;
}

.nav-button:hover {
  background-color: #d35acb;
  color: #ffffff;
}
