.owner-phrase-container {
  padding: 2rem 5%;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
}

.owner-phrase {
  font-size: 1.6rem;
  font-style: italic;
  color: #704688;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  text-align: center;
}
